<% include ../views/partials/head %>
<% include ../views/partials/header %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Oops</h1>
       <h3> Failed, <%= errormessage %> </h3>

    </div>
  </div>
</div>
