
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../views/partials/head %>
    <title></title>
  </head>
  <body>
    <% include ../views/partials/header %>
    <% include ../views/partials/footer %>
  </body>
</html>
